* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

#container {
    display: flex;
    
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color:  aquamarine;
    
    
}

header {
    flex: auto;
    padding: 25px 50px 25px 50px;
}

/* -----------------------middle--------------------- */

#middle {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;


}

#middle #first-column {
    display: flex;
    
    flex: auto;
    flex-direction: column;
    align-items: center;
}

button {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: transparent;
    font-size: 40px;
    border-radius: 35px;
    font-family: "Audiowide", sans-serif;
    color: aquamarine
}

#middle #first-column img {
    height: inherit;
    width: inherit;
}
/* ------------------------------------------------------ */

#middle #second-column {
    display: flex;
    
    flex-direction: column;
    align-items: center;

    gap: 75px;

    
}

#middle #second-column #score {
    font-size: 70px;    
}

/* #middle #second-column button {
    height: 200px;
    width: 200px;
    border-radius: 35px;
    background-color: transparent;
    font-size: 40px;
} */

/* #middle #second-column img {
    height: inherit;
    width: inherit;
} */

#middle #third-column {
    display: flex;
    
    flex: auto;
    align-items: center;
    flex-direction: column;
    gap: 240px  ;
}

/* #middle #third-column button {
    height: 200px;
    width: 200px;
    background-color: transparent;
    font-size: 40px;
    border-radius: 35px;


} */

#page-footer {
    display: flex;
    align-self: center;
    

    
}